<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiqi.member_management.management.business.mapper.MemberOrderMapper">
  <resultMap id="BaseResultMap" type="com.qiqi.member_management.management.business.model.MemberOrder">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_rel_id" jdbcType="VARCHAR" property="orderRelId" />
    <result column="member_id" jdbcType="VARCHAR" property="memberId" />
    <result column="order_total_pay" jdbcType="DECIMAL" property="orderTotalPay" />
    <result column="real_total_pay" jdbcType="DECIMAL" property="realTotalPay" />
    <result column="order_total_amount" jdbcType="INTEGER" property="orderTotalAmount" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="added_time" jdbcType="TIMESTAMP" property="addedTime" />
    <result column="added_by_name" jdbcType="VARCHAR" property="addedByName" />
    <result column="last_modified_time" jdbcType="TIMESTAMP" property="lastModifiedTime" />
    <result column="last_modified_by_name" jdbcType="VARCHAR" property="lastModifiedByName" />
    <result column="valid" jdbcType="CHAR" property="valid" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_member_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qiqi.member_management.management.business.model.MemberOrder">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_member_order (order_rel_id, member_id, order_total_pay, 
      real_total_pay, order_total_amount, remark, 
      added_time, added_by_name, last_modified_time, 
      last_modified_by_name, valid)
    values (#{orderRelId,jdbcType=VARCHAR}, #{memberId,jdbcType=VARCHAR}, #{orderTotalPay,jdbcType=DECIMAL}, 
      #{realTotalPay,jdbcType=DECIMAL}, #{orderTotalAmount,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, 
      #{addedTime,jdbcType=TIMESTAMP}, #{addedByName,jdbcType=VARCHAR}, #{lastModifiedTime,jdbcType=TIMESTAMP}, 
      #{lastModifiedByName,jdbcType=VARCHAR}, #{valid,jdbcType=CHAR})
  </insert>
    <update id="updateByPrimaryKey" parameterType="com.qiqi.member_management.management.business.model.MemberOrder">
    update t_member_order
    set order_rel_id = #{orderRelId,jdbcType=VARCHAR},
      member_id = #{memberId,jdbcType=VARCHAR},
      order_total_pay = #{orderTotalPay,jdbcType=DECIMAL},
      real_total_pay = #{realTotalPay,jdbcType=DECIMAL},
      order_total_amount = #{orderTotalAmount,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      added_time = #{addedTime,jdbcType=TIMESTAMP},
      added_by_name = #{addedByName,jdbcType=VARCHAR},
      last_modified_time = #{lastModifiedTime,jdbcType=TIMESTAMP},
      last_modified_by_name = #{lastModifiedByName,jdbcType=VARCHAR},
      valid = #{valid,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, order_rel_id, member_id, order_total_pay, real_total_pay, order_total_amount, 
    remark, added_time, added_by_name, last_modified_time, last_modifed_by_name, valid
    from t_member_order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, order_rel_id, member_id, order_total_pay, real_total_pay, order_total_amount, 
    remark, added_time, added_by_name, last_modified_time, last_modifed_by_name, valid
    from t_member_order
  </select>
  <!--保存会员订单信息-->
  <insert id="saveMemberOrder" parameterType="com.qiqi.member_management.management.business.model.MemberOrder">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_member_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="null != orderRelId and '' != orderRelId">
        order_rel_id,
      </if>
      <if test="null != memberId and '' != memberId">
        member_id,
      </if>
      <if test="null != orderTotalPay">
        order_total_pay,
      </if>
      <if test="null != realTotalPay">
        real_total_pay,
      </if>
      <if test="null != orderTotalAmount">
        order_total_amount,
      </if>
      <if test="null != remark and '' != remark">
        remark,
      </if>
      added_time,
      <if test="null != addedByName and '' != addedByName">
        added_by_name,
      </if>
      last_modified_time,
      <if test="null != lastModifiedByName and '' != lastModifiedByName">
        last_modifed_by_name,
      </if>
      valid,
    </trim>

    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="null != orderRelId and '' != orderRelId">
        #{orderRelId, jdbcType=VARCHAR},
      </if>
      <if test="null != memberId and '' != memberId">
        #{memberId, jdbcType=VARCHAR},
      </if>
      <if test="null != orderTotalPay">
        #{orderTotalPay, jdbcType=DECIMAL},
      </if>
      <if test="null != realTotalPay">
        #{realTotalPay, jdbcType=DECIMAL},
      </if>
      <if test="null != orderTotalAmount">
        #{orderTotalAmount, jdbcType=INTEGER},
      </if>
      <if test="null != remark and '' != remark">
        #{remark, jdbcType=VARCHAR},
      </if>
      NOW(3),
      <if test="null != addedByName and '' != addedByName">
        #{addedByName, jdbcType=VARCHAR},
      </if>
      NOW(3),
      <if test="null != lastModifiedByName and '' != lastModifiedByName">
        #{lastModifiedByName, jdbcType=VARCHAR},
      </if>
      'T',
    </trim>
  </insert>

</mapper>