<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiqi.member_management.management.business.mapper.OrderRelMapper">
  <resultMap id="BaseResultMap" type="com.qiqi.member_management.management.business.model.OrderRel">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_rel_id" jdbcType="VARCHAR" property="orderRelId" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="added_by_name" jdbcType="VARCHAR" property="addedByName" />
    <result column="added_time" jdbcType="TIMESTAMP" property="addedTime" />
    <result column="last_modified_by_name" jdbcType="VARCHAR" property="lastModifiedByName" />
    <result column="last_modified_time" jdbcType="TIMESTAMP" property="lastModifiedTime" />
    <result column="valid" jdbcType="CHAR" property="valid" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_order_rel
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qiqi.member_management.management.business.model.OrderRel">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_order_rel (order_rel_id, order_id, added_by_name, 
      added_time, last_modified_by_name, last_modified_time, 
      valid)
    values (#{orderRelId,jdbcType=VARCHAR}, #{orderId,jdbcType=VARCHAR}, #{addedByName,jdbcType=VARCHAR}, 
      #{addedTime,jdbcType=TIMESTAMP}, #{lastModifiedByName,jdbcType=VARCHAR}, #{lastModifiedTime,jdbcType=TIMESTAMP}, 
      #{valid,jdbcType=CHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.qiqi.member_management.management.business.model.OrderRel">
    update t_order_rel
    set order_rel_id = #{orderRelId,jdbcType=VARCHAR},
      order_id = #{orderId,jdbcType=VARCHAR},
      added_by_name = #{addedByName,jdbcType=VARCHAR},
      added_time = #{addedTime,jdbcType=TIMESTAMP},
      last_modified_by_name = #{lastModifiedByName,jdbcType=VARCHAR},
      last_modified_time = #{lastModifiedTime,jdbcType=TIMESTAMP},
      valid = #{valid,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, order_rel_id, order_id, added_by_name, added_time, last_modified_by_name, 
    last_modified_time, valid
    from t_order_rel
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, order_rel_id, order_id, added_by_name, added_time, last_modified_by_name, 
    last_modified_time, valid
    from t_order_rel
  </select>
  <!--获取最新订单信息-->
    <select id="getLastOrderRel" resultType="com.qiqi.member_management.management.business.model.OrderRel">
      select id, order_rel_id, order_id, added_by_name, added_time, last_modified_by_name,
      last_modified_time, valid
      from t_order_rel
      where valid = 'T'
      order by id DESC
      limit 1
    </select>
  <!--新增订单关联信息-->
  <insert id="saveOrderRel">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_order_rel
    <trim prefix="(" suffix=")" suffixOverrides=",">
       <if test="null != orderRelId and '' != orderRelId">
         order_rel_id,
       </if>
      <if test="null != orderId and '' != orderId">
        order_id,
      </if>
      <if test="null != addedByName and '' != addedByName">
        added_by_name,
      </if>
      added_time,
      <if test="null != lastModifiedByName and '' != lastModifiedByName">
        last_modified_by_name,
      </if>
      last_modified_time,
      valid,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="null != orderRelId and '' != orderRelId">
        #{orderRelId, jdbcType=VARCHAR},
      </if>
      <if test="null != orderId and '' != orderId">
        #{orderId, jdbcType=VARCHAR},
      </if>
      <if test="null != addedByName and '' != addedByName">
        #{addedByName, jdbcType=VARCHAR},
      </if>
      NOW(3),
      <if test="null != lastModifiedByName and '' != lastModifiedByName">
        #{lastModifiedByName, jdbcType=VARCHAR},
      </if>
      NOW(3),
      'T',
    </trim>
  </insert>

</mapper>