<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiqi.member_management.management.business.mapper.ProductInfoMapper">
  <resultMap id="BaseResultMap" type="com.qiqi.member_management.management.business.model.ProductInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="product_id" jdbcType="VARCHAR" property="productId" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="describute" jdbcType="VARCHAR" property="describute" />
    <result column="specification" jdbcType="VARCHAR" property="specification" />
    <result column="scope" jdbcType="VARCHAR" property="scope" />
    <result column="added_time" jdbcType="TIMESTAMP" property="addedTime" />
    <result column="added_by_name" jdbcType="VARCHAR" property="addedByName" />
    <result column="last_modified_time" jdbcType="TIMESTAMP" property="lastModifiedTime" />
    <result column="last_modified_by_name" jdbcType="VARCHAR" property="lastModifiedByName" />
    <result column="valid" jdbcType="CHAR" property="valid" />
    <result column="product_img_src" jdbcType="VARCHAR" property="productImgSrc" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_product_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qiqi.member_management.management.business.model.ProductInfo">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_product_info (product_id, product_name, price, describute,
      specification, scope, added_time, 
      added_by_name, last_modified_time, last_modified_by_name, 
      valid, product_img_src)
    values (#{productId,jdbcType=VARCHAR}, #{productName,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, #{describute,jdbcType=VARCHAR},
      #{specification,jdbcType=VARCHAR}, #{scope,jdbcType=VARCHAR}, #{addedTime,jdbcType=TIMESTAMP}, 
      #{addedByName,jdbcType=VARCHAR}, #{lastModifiedTime,jdbcType=TIMESTAMP}, #{lastModifiedByName,jdbcType=VARCHAR}, 
      #{valid,jdbcType=CHAR}, #{productImgSrc,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.qiqi.member_management.management.business.model.ProductInfo">
    update t_product_info
    set product_id = #{productId,jdbcType=VARCHAR},
      product_name = #{productName,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      describute = #{describute,jdbcType=VARCHAR},
      specification = #{specification,jdbcType=VARCHAR},
      scope = #{scope,jdbcType=VARCHAR},
      added_time = #{addedTime,jdbcType=TIMESTAMP},
      added_by_name = #{addedByName,jdbcType=VARCHAR},
      last_modified_time = #{lastModifiedTime,jdbcType=TIMESTAMP},
      last_modified_by_name = #{lastModifiedByName,jdbcType=VARCHAR},
      valid = #{valid,jdbcType=CHAR},
      product_img_src = #{productImgSrc,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, product_id, product_name, price, describute,
    specification, scope, added_time, added_by_name, last_modified_time, last_modified_by_name, 
    valid, product_img_src
    from t_product_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, product_id, product_name, price, describute,
    specification, scope, added_time, added_by_name, last_modified_time, last_modified_by_name, 
    valid, product_img_src
    from t_product_info
  </select>
  <!-- 查询商品列表
    需要关联 类别表 查询商品类别
    关联 库存表 查询库存类型
  -->
    <select id="productInfoList" resultType="com.qiqi.member_management.management.business.model.model.extend.ProductInfoExtend"
            parameterType="com.qiqi.member_management.management.business.dto.request.ProductInfoListRequestDto">
      select
        t1.id,
        t1.product_id productId,
        t1.product_name productName,
        t1.price price,
        t1.describute describute,
        t1.specification specification,
        t1.scope scope,
        t1.added_time addedTime,
        t1.product_img_src productImgSrc,
        t3.product_amount productAmount
      from t_product_info t1
      left join t_storage_info t3 on t1.product_id = t3.product_id and t3.valid = 'T'
      where t1.valid = 'T'
      <if test="null != id">
        and t1.id = #{id, djdbcType=INTEGER}
      </if>
      <if test="null != productName and '' != productName">
        and (t1.product_name like '%${productName}%')
      </if>
      order by t1.id DESC
    </select>
  <!--根据商品名称查询商品信息-->
    <select id="queryProductInfoByName"
            resultType="com.qiqi.member_management.management.business.model.ProductInfo"
            parameterType="java.lang.String">
      select *
      from t_product_info
      where valid = 'T'
      <if test="null != productName and '' != productName">
        and product_name = #{productName, jdbcType=VARCHAR}
      </if>
      order by id DESC
      limit 1
    </select>
  <!--查询最新一条有效数据-->
  <select id="getLastProductInfo"
          resultType="com.qiqi.member_management.management.business.model.ProductInfo">
     select * from t_product_info
     where valid = 'T'
     order by id DESC
     limit 1
  </select>

  <insert id="saveProductInfo" parameterType="com.qiqi.member_management.management.business.model.ProductInfo">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_product_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="null != productId and '' != productId">
        product_id,
      </if>
      <if test="null != productName and '' != productName">
        product_name,
      </if>
      <if test="null != price">
        price,
      </if>
      <if test="null != describute and '' != describute">
        describute,
      </if>
      <if test="null != specification and '' != specification">
        specification,
      </if>
      <if test="null != scope and '' != scope">
        scope,
      </if>
      added_time,
      <if test="null != addedByName and '' != addedByName">
        added_by_name,
      </if>
      last_modified_time,
      <if test="null != lastModifiedByName and '' != lastModifiedByName">
        last_modified_by_name,
      </if>
      valid,
      <if test="null != productImgSrc and '' != productImgSrc">
        product_img_src,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="null != productId and '' != productId">
        #{productId, jdbcType=VARCHAR},
      </if>
      <if test="null != productName and '' != productName">
        #{productName, jdbcType=VARCHAR},
      </if>
      <if test="null != price">
        #{price},
      </if>
      <if test="null != describute and '' != describute">
        #{describute, jdbcType=VARCHAR},
      </if>
      <if test="null != specification and '' != specification">
        #{specification, jdbcType=VARCHAR},
      </if>
      <if test="null != scope and '' != scope">
        #{scope, jdbcType=VARCHAR},
      </if>
      NOW(3),
      <if test="null != addedByName and '' != addedByName">
        #{addedByName, jdbcType=VARCHAR},
      </if>
      NOW(3),
      <if test="null != lastModifiedByName and '' != lastModifiedByName">
        #{lastModifiedByName, jdbcType=VARCHAR},
      </if>
      'T',
      <if test="null != productImgSrc and '' != productImgSrc">
        #{productImgSrc, jdbcType=VARCHAR},
      </if>
    </trim>

  </insert>

  <!--作废商品信息-->
  <update id="deleteProductInfo" parameterType="com.qiqi.member_management.management.business.model.ProductInfo">
    update t_product_info set valid = 'F'
    where valid = 'T' and id = #{id,jdbcType=INTEGER}
  </update>

  <!--更新商品信息-->
  <update id="updateProductInfo" parameterType="com.qiqi.member_management.management.business.model.ProductInfo">
    update t_product_info
    <set>
      <if test="null != productName and '' != productName">
        product_name = #{productName, jdbcType=VARCHAR},
      </if>
      <if test="null != price">
        price = #{price},
      </if>
      <if test="null != describute and '' != describute">
        describute = #{describute, jdbcType=VARCHAR},
      </if>
      <if test="null != specification and '' != specification">
        specification = #{specification, jdbcType=specification},
      </if>
      <if test="null != scope and '' != scope">
        scope = #{scope, jdbcType=VARCHAR},
      </if>
      added_time = NOW(3),
      <if test="null != addedByName and '' != addedByName">
        added_by_name = #{addedByName, jdbcType=VARCHAR},
      </if>
      last_modified_time = NOW(3),
      <if test="null != lastModifiedByName and '' != lastModifiedByName">
        last_modified_by_name = #{lastModifiedByName, jdbcType=VARCHAR},
      </if>
      <if test="null != productImgSrc and '' != productImgSrc">
        product_img_src = #{productImgSrc, jdbcType=VARCHAR},
      </if>
    </set>
    where valid = 'T' and id = #{id, jdbcType=INTEGER}
  </update>

</mapper>